<!DOCTYPE html>
<html>
    <head>
        <title>Create Review</title>
        <link rel="stylesheet" href="styles/main.css">
        <link rel="icon" href="/imgs/PremisesPal_Favicon.png">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="BlueBackground">
            <h1>Please Input Review Information</h1>
            <form method="POST" action="/create-review">
                <div class="CreatePostLabels">
                    <div>
                        <label class="AccountP"for="revieweeEmail">Reviewee Email:</label>
                        <input class="CreatePostInput" type="text" id="revieweeEmail" name="revieweeEmail" required maxlength="49">
                    </div>
                    <div>
                        <label class="AccountP"for="feedback">Feedback:</label>
                        <input class="CreatePostInput" type="text" id="feedback" name="feedback" required maxlength="199">
                    </div>
                    <div class="ReviewStars">
                        <label class="AccountP" for="stars">Stars (1-5):</label>
                        <input style="padding: 9px; margin: 10px 200px;" class="CreatePostInput" type="number" id="stars" name="stars" min="1" max="5" required>
                    </div>
                </div>
                
                <fieldset class="CreatePostFields">
                    <h2 class="AccountP">Please Only Click 1 Job Type</h2>
                    <label for="checkbox">Job Type:</label>
                    <div>
                    <input type="checkbox" id="carpentry" name="carpentry" value="carpentry" />
                    <label for="carpentry">Carpentry</label><br>
                    </div>
                    <div>
                    <input type="checkbox" id="plumbing" name="plumbing" value="plumbing" />
                    <label for="plumbing">Plumbing</label><br>
                    </div>
                    <div>
                    <input type="checkbox" id="cleaning" name="cleaning" value="cleaning" />
                    <label for="cleaning">Cleaning</label><br>
                    </div>
                    <div>
                    <input type="checkbox" id="electrical" name="electrical" value="electrical" />
                    <label for="electrical">Electrical</label><br>
                    </div>
                    <div>
                    <input type="checkbox" id="landscaping" name="landscaping" value="landscaping" />
                    <label for="landscaping">Landscaping</label><br>
                    </div>
                    <div>
                    <input type="checkbox" id="painting" name="painting" value="painting" />
                    <label for="painting">Painting</label><br>
                    </div>
                    <div>
                    <input type="checkbox" id="other" name="other" value="other" />
                    <label for="other">Other</label><br>
                    </div>
                </fieldset>
                <button type="submit">Submit</button>
                <button onclick="window.location.href='feed.html';">Cancel</button>
            </form>
        </div>
    </body>
</html>