<!DOCTYPE html>
<html>
    <head>
        <title>PremisesPal/Login</title>
        <link rel="stylesheet" href="styles/main.css">
        <link rel="icon" href="/imgs/PremisesPal_Favicon.png">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
      <div class="Login">
        <h1>Please Login</h1>
        <form class="BlueBackgroundNoBackground"method="POST" action="/Login">
          <% if (loginResult===false) { %>
            <p class="AccountP" style="color: red; margin: 0px 75px;">Incorrect email and/or password</p>
            <% } %>
          <label for="email"><b></b></label>
          <input class="LoginInput" type="text" placeholder="Enter Email" name="email" required maxlength="49" pattern="[A-Za-z0-9@]*" required>
          <label for="password"><b></b></label>
          <input class="LoginInput" type="password" placeholder="Enter Password" name="password" required maxlength="24" pattern="[A-Za-z0-9@]*" required>
          <button type="submit">Login</button>
        </form>
        <button onclick="window.location.href='home.html';">Back</button>
      </div>
    </body>
</html>