<!DOCTYPE html>
<html>
  <head>
    <title>Review Details</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/imgs/PremisesPal_Favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="BlueBackground">
      <% if (allReviews.length==0) { %>
        <h2>No Reviews Found</h2>
      <% } %>
      <% for (let i = 0; i < allReviews.length; i++) { %>
        <h2>Review for <%= allReviews[i].revieweeEmail %></h2>
        <p class="AccountP">Review by <%= allReviews[i].reviewerEmail %></p>
        <p class="AccountP">Feedback: <%= allReviews[i].feedback %></p>
        <p class="AccountP">Job Type: <%= allReviews[i].jobType %></p>
        <div class="star-bar">
          <% for (let j = 1; j <= 5; j++) { %>
            <% if (allReviews[i].stars >= j) { %>
              <span class="star full-star">&#9733;</span>
            <% } else { %>
              <span class="star empty-star">&#9734;</span>
            <% } %>
          <% } %>
      <% } %>
      </div>
    </div>
    <button onclick="window.location.href='feed.html';">Back</button>
  </body>
</html>