<!DOCTYPE html>
<html>
  <head>
    <title>Review Details</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/imgs/PremisesPal_Favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="review-details">
      <% for (let i = 0; i < review.length; i++) { %>
        <h2>Review for <%= review[i].revieweeEmail %></h2>
        <p>Feedback: <%= review[i].feedback %></p>
        <p>Job Type: <%= review[i].jobType %></p>
        <div class="star-bar">
          <% for (let j = 1; j <= 5; j++) { %>
            <% if (review[i].stars >= j) { %>
              <span class="star full-star">&#9733;</span>
            <% } else { %>
              <span class="star empty-star">&#9734;</span>
            <% } %>
          <% } %>
      <% } %>
      </div>
    </div>
  </body>
</html>