body {
  background-image: url("../imgs/background_adobe_express.svg");
  background-size: cover;
  font-family: 'Roboto';
}

p {
  background: #ffffff;
  padding: 10px;
}

h1{
  color: white;
}
.Home {
  overflow: hidden;
}

a:link
{
  color: white;
}

.Home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
}

.BlueBackground {
  background: linear-gradient(90deg,#308ae5, #1b6dc1);
  color: white;
  padding: 10px 20px 20px;
  margin: 0px 350px;
  text-align: center;
  border-radius: 10px;
}

.BlueBackgroundNoMargin {
  background: linear-gradient(90deg, #308ae5, #1b6dc1);
  color: white;
  padding: 10px 20px 20px;
  margin: 0px auto;
  text-align: center;
  border-radius: 10px;
}

.BlueBackgroundNoMarginTopMargin {
  background: #363636;   
  color: white;
  padding: 10px 20px 20px;
  margin: 20px 0px auto;
  text-align: center;
  border-radius: 10px;
}

.HomeText {
  font-size: 30px;
  font-weight: 700;
}

button{
  background-color: #363636; 
  color: white;
  border: none;
  padding: 9px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.FeedButton
{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login {
  background: linear-gradient(90deg, #308ae5, #1b6dc1);
    color: white;
    padding: 10px 20px 20px;
    margin: 0px 350px;
    text-align: center;
    border-radius: 10px;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 8px 8px 165px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
}

.RegisterFields{
  background: white;
  color: black;
  border: 10px black;
  width: 31.5%;
  text-align: left;
  margin: 10px auto;
  border-radius: 4px;
}

.RegisterLegend{
  padding: 10px;
  color: #ffffff;
  background: #363636;
  text-align: center;
  border-radius: 10px;
}

#post-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
/* Creates a grid with three columns */
gap: 20px;
/* Adds a gap of 20px between the items */
}

/* .post {
background-color: #f5f5f5;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
} */

/* Added by Brenek change if needed */
.post {
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(90deg, #308ae5, #1b6dc1);
  border-radius: 10px;
}

.post p {
  background-color: #363636; 
  color: white;
  border: none;
  padding: 9px 32px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.AccountP {
  background-color: #363636;
    color: white;
    border: none;
    padding: 9px 32px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

.CreatePostFields
{
  background: white;
  color: black;
  border: 10px black;
  width: 31.5%;
  text-align: left;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 50px;
  border-radius: 4px;
}

.CreatePostLabels
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.star
{
  font-size: 200%;
}